.skill-item {
    width: 100%;
    margin: 0;
}

.skill-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-color);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.skill-icon {
    width: 24px;
    height: 24px;
}

.skill-progress {
    width: 100%;
    height: 30px;
    background-color: var(--bg-color);
    border-radius: 4px;
    margin: 0;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: var(--green);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: width 0.3s ease;
}
