.footer-content {
    width: 100%;
    background-color: var(--text-color);
    margin-top: 120px;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
}

/* Зеленый футер только для темной темы */
[data-theme="dark"] .footer-content {
    background-color: var(--green);
}

.footer-text {
    max-width: 1240px;
    width: 100%;
    color: var(--bg-color);
    line-height: 1.5;
    text-align: left;
}

/* Mobile стили для экранов 650px и меньше */
@media (max-width: 650px) {
    .footer-content {
        margin-top: 50px;
    }
}
