.footer-content {
    width: 100%;
    background-color: var(--text-color);
    margin-top: 120px;
    padding: 50px 244px;
    display: flex;
    justify-content: center;
}

.footer-text {
    width: 1240px;
    color: var(--bg-color);
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    text-align: left;
}
