.buttons-group-wrapper {
    display: flex;
    gap: 20px;
}

.buttons-group__label {
    margin-right: 15px;
}

.buttons-group__container {
    display: flex;
    gap: 10px;
}

.buttons-group__button {
    padding: 12px 24px;
    border: 2px solid var(--green);
    border-radius: 30px;
    background-color: var(--bg-color);

    cursor: pointer;
    transition: all 0.3s ease;
}