.buttons-group-wrapper {
    display: flex;
    gap: 20px;
}

.buttons-group__label {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: var(--text-color);
}

.buttons-group__button {
    border: 1px solid var(--green);
    border-radius: 8px;
    cursor: pointer;
    padding: 6px 10px;
    background-color: var(--bg-color);
    height: 36px;

    font-weight: 400;
    font-size: 20px;
    color: var(--green);
}