.mySkills-header-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.mySkills__header {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    color: var(--text-color);
}

.mySkills-content-wrapper {
    width: 100%;  
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.skills-list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}