.myContacts-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.myContacts__info {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.myContacts__info li {
    margin: 0;
    padding: 0;
}

.info__item {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: inherit;
    position: relative;
    padding-left: 42px; /* место для иконки */
}

.info__item::before {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.info__item--phone::before {
    background-image: url("/src/assets/images/contacts/icon=phone.svg");
}

.info__item--email::before {
    background-image: url("/src/assets/images/contacts/icon=email.svg");
}

.info__item:hover {
    color: var(--green);
}

.myContacts__social {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.myContacts__social li {
    margin: 0;
    padding: 0;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--bg-color);
    border: 2px solid var(--green);

    transition: all 0.3s ease;
}

.social__link:hover {
    background-color: var(--green);
    border-color: var(--green);
    transform: translateY(-2px);
}

.social__icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    flex-shrink: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease;
}

/* Иконки социальных сетей */
.social__icon--github {
    background-image: url("/src/assets/images/social/social=github.svg");
}

.social__icon--gitlab {
    background-image: url("/src/assets/images/social/social=gitlab.svg");
}

.social__icon--instagram {
    background-image: url("/src/assets/images/social/social=instagram.svg");
}

.social__icon--telegram {
    background-image: url("/src/assets/images/social/social=telegram.svg");
}

.social__icon--vk {
    background-image: url("/src/assets/images/social/social=vk.svg");
} 